openapi: 3.0.3
info:
  description: "This API can be used to interact with the Cluster API Elemental operator.<br
    />\n\tThis API is for <b>Internal</b> use by the <a href=\"https://github.com/rancher-sandbox/cluster-api-provider-elemental/tree/main/cmd/agent\">Elemental
    CAPI agent</a> and it's not supported for public use.<br />\n\tUse it at your
    own risk.<br />\n\t<br />\n\tThe schemas are mapping the related <a href=\"https://github.com/rancher-sandbox/cluster-api-provider-elemental/tree/main/api/v1beta1\">Elemental
    CAPI resources</a>.<br />"
  title: Elemental API
  version: v0.0.1
paths:
  /elemental/v1/namespaces/{namespace}/registrations/{registrationName}:
    get:
      description: This endpoint returns an ElementalRegistration.
      parameters:
      - in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: registrationName
        required: true
        schema:
          type: string
      - in: header
        name: Registration-Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRegistrationResponse'
          description: Returns the ElementalRegistration
        "401":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Registration-Authorization' header does not contain
            a Bearer token
        "403":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Registration-Authorization' token is not valid
        "404":
          content:
            text/html:
              schema:
                type: string
          description: If the ElementalRegistration is not found
        "500":
          content:
            text/html:
              schema:
                type: string
          description: Internal Server Error
      summary: Get ElementalRegistration
  /elemental/v1/namespaces/{namespace}/registrations/{registrationName}/hosts:
    post:
      description: This endpoint creates a new ElementalHost.
      parameters:
      - in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: registrationName
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - in: header
        name: Registration-Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiHostCreateRequest'
      responses:
        "201":
          description: ElementalHost correctly created. Location Header contains its
            URI
        "400":
          content:
            text/html:
              schema:
                type: string
          description: ElementalHost request is badly formatted
        "401":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' or 'Registration-Authorization' headers
            do not contain Bearer tokens
        "403":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' or 'Registration-Authorization' tokens
            are not valid
        "404":
          content:
            text/html:
              schema:
                type: string
          description: ElementalRegistration not found
        "409":
          content:
            text/html:
              schema:
                type: string
          description: ElementalHost with same name within this ElementalRegistration
            already exists
        "500":
          content:
            text/html:
              schema:
                type: string
          description: Internal Server Error
      summary: Create a new ElementalHost
  /elemental/v1/namespaces/{namespace}/registrations/{registrationName}/hosts/{hostName}:
    delete:
      description: This endpoint deletes an existing ElementalHost.
      parameters:
      - in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: registrationName
        required: true
        schema:
          type: string
      - in: path
        name: hostName
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        "202":
          description: ElementalHost correctly deleted.
        "401":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' header does not contain a Bearer token
        "403":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' token is not valid
        "404":
          content:
            text/html:
              schema:
                type: string
          description: ElementalHost not found
        "500":
          content:
            text/html:
              schema:
                type: string
          description: Internal Server Error
      summary: Delete an existing ElementalHost
    patch:
      description: This endpoint patches an existing ElementalHost.
      parameters:
      - in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: registrationName
        required: true
        schema:
          type: string
      - in: path
        name: hostName
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiHostPatchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHostResponse'
          description: Returns the patched ElementalHost
        "400":
          content:
            text/html:
              schema:
                type: string
          description: If the ElementalHostPatch request is badly formatted
        "401":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' header does not contain a Bearer token
        "403":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' token is not valid
        "404":
          content:
            text/html:
              schema:
                type: string
          description: If the ElementalRegistration or the ElementalHost are not found
        "500":
          content:
            text/html:
              schema:
                type: string
          description: Internal Server Error
      summary: Patch ElementalHost
  /elemental/v1/namespaces/{namespace}/registrations/{registrationName}/hosts/{hostName}/bootstrap:
    get:
      description: This endpoint returns the ElementalHost bootstrap instructions.
      parameters:
      - in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: registrationName
        required: true
        schema:
          type: string
      - in: path
        name: hostName
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBootstrapResponse'
          description: Returns the ElementalHost bootstrap instructions
        "401":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' header does not contain a Bearer token
        "403":
          content:
            text/html:
              schema:
                type: string
          description: If the 'Authorization' token is not valid
        "404":
          content:
            text/html:
              schema:
                type: string
          description: If the ElementalRegistration or ElementalHost are not found,
            or if there are no bootstrap instructions yet
        "500":
          content:
            text/html:
              schema:
                type: string
          description: Internal Server Error
      summary: Get ElementalHost bootstrap
components:
  schemas:
    ApiBootstrapResponse:
      properties:
        config:
          type: string
        format:
          type: string
      type: object
    ApiHostCreateRequest:
      properties:
        annotations:
          additionalProperties:
            type: string
          type: object
        labels:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        pubKey:
          type: string
      type: object
    ApiHostPatchRequest:
      properties:
        annotations:
          additionalProperties:
            type: string
          type: object
        bootstrapped:
          nullable: true
          type: boolean
        condition:
          $ref: '#/components/schemas/V1Beta1Condition'
        installed:
          nullable: true
          type: boolean
        labels:
          additionalProperties:
            type: string
          type: object
        reset:
          nullable: true
          type: boolean
      type: object
    ApiHostResponse:
      properties:
        annotations:
          additionalProperties:
            type: string
          type: object
        bootstrapReady:
          type: boolean
        bootstrapped:
          type: boolean
        installed:
          type: boolean
        labels:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        needsReset:
          type: boolean
        osVersionManagement:
          additionalProperties:
            $ref: '#/components/schemas/RuntimeRawExtension'
          type: object
      type: object
    ApiRegistrationResponse:
      properties:
        config:
          $ref: '#/components/schemas/V1Beta1Config'
        hostAnnotations:
          additionalProperties:
            type: string
          type: object
        hostLabels:
          additionalProperties:
            type: string
          type: object
      type: object
    RuntimeRawExtension:
      type: object
    V1Beta1Agent:
      properties:
        debug:
          type: boolean
        hostname:
          $ref: '#/components/schemas/V1Beta1Hostname'
        insecureAllowHttp:
          type: boolean
        insecureSkipTlsVerify:
          type: boolean
        noSmbios:
          type: boolean
        osPlugin:
          type: string
        postInstall:
          $ref: '#/components/schemas/V1Beta1PostInstall'
        postReset:
          $ref: '#/components/schemas/V1Beta1PostReset'
        reconciliation:
          type: integer
        useSystemCertPool:
          type: boolean
        workDir:
          type: string
      type: object
    V1Beta1Condition:
      properties:
        lastTransitionTime:
          type: string
        message:
          type: string
        reason:
          type: string
        severity:
          type: string
        status:
          type: string
        type:
          type: string
      type: object
    V1Beta1Config:
      properties:
        cloudConfig:
          additionalProperties:
            $ref: '#/components/schemas/RuntimeRawExtension'
          type: object
        elemental:
          $ref: '#/components/schemas/V1Beta1Elemental'
      type: object
    V1Beta1Elemental:
      properties:
        agent:
          $ref: '#/components/schemas/V1Beta1Agent'
        install:
          additionalProperties:
            $ref: '#/components/schemas/RuntimeRawExtension'
          type: object
        registration:
          $ref: '#/components/schemas/V1Beta1Registration'
        reset:
          additionalProperties:
            $ref: '#/components/schemas/RuntimeRawExtension'
          type: object
      type: object
    V1Beta1Hostname:
      properties:
        prefix:
          type: string
        useExisting:
          type: boolean
      type: object
    V1Beta1PostInstall:
      properties:
        powerOff:
          type: boolean
        reboot:
          type: boolean
      type: object
    V1Beta1PostReset:
      properties:
        powerOff:
          type: boolean
        reboot:
          type: boolean
      type: object
    V1Beta1Registration:
      properties:
        caCert:
          type: string
        token:
          type: string
        tokenDuration:
          type: integer
        uri:
          type: string
      type: object
